.active{
  color: white;
  background: #2196f3;
}

/* when the cursor is on the object with a pointer className, the cursor would appear to be a pointer (a hand sign) */
.pointer{
  cursor: pointer;
}

/* when pointer hover on the picture, it becomes bigger that makes it stand out */
.hoverable:hover{
  transform: scale(1.01);
  box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.15) !important;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
